## Print Statement

In [11]:
print("Hello World")

Hello World

In [12]:
print(123)

123

In [13]:
age=18
print("My age is:",age)

My age is: 18

In [14]:
## Format()
name="Roshan"
age=18
print("My name is {} and age is {} ".format(name,age))

My name is Roshan and age is 18

In [15]:
## Placeholder
print("My name is {firstname} and age is {firstage} ".format(firstname=name,firstage=age))

My name is Roshan and age is 18

In [8]:
name="Roshan Kumar Mandal"
age=19
degree="BS Data Science"
##My age is 19 and I have completed: My degree of BS Data Science with the name of Roshan Kumar Mandal"

In [9]:
## f string method
print(f"My age is {age} and I have completed : my degree of {degree} with the name of {name}")

My age is 19 and I have completed : my degree of BS Data Science with the name of Roshan Kumar Mandal

In [10]:
## fomating mehtod
print("My age is {} and I have completed : my degree of {} with the name of {}".format(age,degree,name))

My age is 19 and I have completed : my degree of BS Data Science with the name of Roshan Kumar Mandal

 # *Control Flow
# *Decision Making Statements

In [5]:
# if statements
age=18
if age>=18: 
    print("You are eligible to vote")

You are eligible to vote

In [4]:
age=17
if age<18:
    print("You are not eligible ot vote")

You are not eligible ot vote

In [3]:
## input
name=input("Enter the name")
print(f"My name is {name}")

Enter the name Roshan Kumar Mandal

My name is Roshan Kumar Mandal

In [1]:
name=input("Enter the name")
print(f"My name is {name}")

Enter the name Roshan Kumar Mandal

My name is Roshan Kumar Mandal

In [2]:
input()

 Roshan Kumar Mandal

'Roshan Kumar Mandal'

In [4]:
x=input("Enter the number")
y=input("Enter the number")
print((x)+(y))

Enter the number 92
Enter the number 36

9236

In [6]:
x=input("Enter the number")
y=input("Enter the number")
print(int(x)+int(y))

Enter the number 5952668
Enter the number 1259856

7212524

In [7]:
## Task
## Take a input of age 
## check whether age >=18 and age <=45
## display a message you are young blooded

In [9]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blooded")

Enter the age 45

You are young blooded

In [11]:
## if else statements
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blooded")
else:
    print("Thaku you your application is rejected")

Enter the age 56

Thaku you your application is rejected

In [ ]:
## Mall:
## product >1000 rs 20% off
## print product prize after discount
## product <=1000rs 30% off
## print product prize after discount

In [14]:
product_prize=int(input("Enter the prize"))
if product_prize>1000:
    print("The prize of the product is {}".format(product_prize*0.8))
else:
    print("The prize of the product is {}".format(product_prize*0.7))

Enter the prize 10

The prize of the product is 7.0

In [18]:
product_prize=int(input("Enter  the prize"))
if product_prize>1000:
    print(f"The prize of the product is {product_prize*0.8}")
else:
    print(f"The prize of the product is {product_prize*0.7}")

Enter  the prize 1200

The prize of the product is 960.0

In [ ]:
## Mall: input the product peice
## product >3000 rs 20% off
## product prize==4000 you ger a trip to Goa
## print product prize after discount
## product >=2000 rs and <=3000 rs 30% off
## print product prize after discount
## product prize ==2999 it will ger addutional gift
## product >=100 rs and <=2000 40% off
## print the product prize after discount

In [10]:
product_prize=int(input("Enter the prize"))
if product_prize>3000:
    if product_prize==4000:
        print("Congratulation you ger a Goa Trip")
    
    print(f"The prize of the product is {product_prize*0.8}")
elif product_prize>=2000 and product_prize<=3000:
    if product_prize==2999:
        print("Congratulation you get an additional girt")
        print(f"The prize of the product is {product_prize*0.7}")
elif product_prize>=100 and product_prize<=2000:
     print(f"The prize of the product is {product_prize*0.6} ")
else:
    print("Lets drink tea")

Enter the prize 4000

Congratulation you ger a Goa Trip
The prize of the product is 3200.0

In [5]:
## write a programme to enter your age and display result as given below:
## age<1 then Infant
## age>1 and age<=5 then Baby
## age>5 and age<10 then Child
## age>10 and age<=25 then Teengers
## age>25 and age<=35 then adult
## age>25 then old

In [8]:
age=int(input("Enter Your Age"))
if age<1:
    print("Infant")
elif age>1 and age<=5:
    print("Baby")
elif age>5 and age<=10:
    print("Child ")
elif age>10 and age<=25:
    print("Teengers")
elif age>25 and age<=35:
    print("Adult")
else:
    print("You are old")

Enter Your Age 56

You are old

In [14]:
## Single_statement Suites
val=int(input("Enter the number"))
if (val<=999):print("value is less than to 999")
else:
    print(" Good Bye")

Enter the number 5000

 Good Bye

# Loops Statements
1 While loop
2.For loop
3. Nested loop
4. Loop control(break,continue,pass)

# While Loop

In [15]:
## while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [17]:
## AIM machine with 1000 rw 
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

# For Loop

In [18]:
lst=["Roshan",1,2,3,4,"apple","banana"]

In [19]:
type(lst)

list

In [20]:
lst[5]

'apple'

In [21]:
lst

['Roshan', 1, 2, 3, 4, 'apple', 'banana']

In [22]:
for x in lst:
    print(x)

Roshan
1
2
3
4
apple
banana

In [26]:
weeks=["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]

In [30]:
for a in weeks:
    print(a)
    if a=="sunday":
        print("sunday ho ya monday roj khao anday")

sunday
sunday ho ya monday roj khao anday
monday
tuesday
wednesday
thursday
friday
saturday

In [31]:
name="Roshan"
for x in name:
    print(x)

R
o
s
h
a
n

In [32]:
name[5]

'n'

## Nested Loop

In [33]:
## Range
for r in range(1,10):
    print(r)

1
2
3
4
5
6
7
8
9

In [34]:
for r in range(1,10,2):
    print(r)

1
3
5
7
9

In [50]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
    print("*",end="")
    print("\r")

IndentationError: expected an indented block after 'for' statement on line 3 (2152609196.py, line 4)

In [54]:
for a in weeks:
    print(a)
    if a=="thursday":
        print("sunday ho ya monday roj khao anday")
        break

sunday
monday
tuesday
wednesday
thursday
sunday ho ya monday roj khao anday

In [55]:
for a in weeks:
    print(a)
    if a=="thursday":
        print("sunday ho ya monday roj khao anday")
        pass

sunday
monday
tuesday
wednesday
thursday
sunday ho ya monday roj khao anday
friday
saturday

In [56]:
for a in weeks:
    print(a)
    if a=="thursday":
        print("sunday ho ya monday roj khao anday")
        continue

sunday
monday
tuesday
wednesday
thursday
sunday ho ya monday roj khao anday
friday
saturday